<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-accordian title="Your Title 1">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordian>
  <app-accordian title="Your Title 2">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordian>
  <app-accordian title="Your Title 3">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordian>
</ion-content>
